body {
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#center {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-self: center;
}

#periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 40px);
    grid-template-rows: repeat(10, 40px);
}

#element-card {
    margin-top:2px;
    margin-left: 4px;
    margin-bottom: 2px;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#cardNumber {
    font-size: 24pt;
    margin-bottom: 60px;
}

#cardSymbol {
    text-align: center;
    vertical-align: bottom;
    font-size: 60pt;
}

#cardLink {
    font-size: 14pt;
    text-align: center;
}

#cardStars {
    font-size: 18pt;
    text-align: center;
}

#cardBlurb {
    margin: 2px;
    margin-top: 20px;
    font-size: 10pt;
}

.middle {
    text-align: center;
}

#title {
    font-size: 40px;
    text-align: center;
}

#madeby > * {
    margin-top: 20px;
    text-align: center;
    font-size: 8pt;
}

.table-element {
    margin: 1px;
    border: 1px solid black;
    font-size: 16pt;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    user-select: none;
    cursor: pointer;
}
